<html>
    <head>
        <title>Hello!</title>
    </head>
    <body>

        <div class="card">
            <h5 class="card-header">Загрузите и отправьте файл для обработки на сервер</h5>
            <div class="card-body">
                {{ form.hidden_tag() }}
                <form action="{{ url_for('index.index') }}" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        {{ form.file }}
                    </div>
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
        </div>


</body>
</html> 
